<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body layout="column" ng-app="wa">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-toolbar layout="row" class="md-toolbar-tools">
      <h1 flex>Wendy & Alpha</h1>
    </md-toolbar>
    <div layout="row" flex>
      <div layout="column" flex ng-controller="appCtrl as ctrl">
        <md-content class="md-padding">
          <md-tabs md-dynamic-height>
            <md-tab id="case">
              <md-tab-label>Case</md-tab-label>
              <md-tab-body>
                <md-card>
                  <md-content layout-padding>
                    <form name="caseForm">
                      <div layout layout-sm>
                        <div>
                          <label style="align-self: center;">立案日期</label>
                          <md-datepicker ng-model="case.initDate"se.inlaceholder="立案日期"></md-datepicker>
                        </div>
                        <span flex="5"></span>
                        <div>
                          <label style="align-self: center;">结案日期</label>
                          <md-datepicker ng-model="case.finishDate" md-placeholder="结案日期"></md-datepicker>
                        </div>
                      </div>
                      <div layout layout-sm="column">
                        <md-input-container flex="40">
                          <label>原告</label>
                          <input ng-model="case.plaintiff" required>
                        </md-input-container>
                        <md-autocomplete
                          flex="60"
                          md-floating-label="被告"
                          md-search-text="ctrl.searchText"
                          md-items="item in ctrl.querySearch(ctrl.searchText)"
                          md-item-text="item"
                          md-min-length="0"
                          md-selected-item="case.defendants">
                          <md-item-template>
                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
                          </md-item-template>
                          <md-not-found>
                            "{{ctrl.searchText}}" 尚不存在,请添加.
                          </md-not-found>
                        </md-autocomplete>
                      </div>
                      <md-input-container layout flex>
                        <label>详细记录</label>
                        <textarea ng-model="case.details" columns="1" md-maxlength="1500"></textarea>
                      </md-input-container>
                      <md-input-container>
                        <label>状态</label>
                        <md-select ng-model="case.state">
                          <md-option ng-repeat="state in ctrl.states" value="{{state}}">{{state}}</md-option>
                        </md-select>
                      </md-input-container>
                      <div class="md-actions" layout="row">
                        <md-button class="md-raised md-primary" ng-click="save()">保存</md-button>
                        <md-button class="md-raised" ng-click="cancel()">取消</md-button>
                      </div>
                    </form>
                  </md-content>
                </md-card>
                <md-card>
                  <md-content>
                    <md-list>
                      <md-subheader class="md-no-sticky">案件列表</md-subheader>
                      <md-list-item class="md-3-line" ng-repeat="item in ctrl.allCases">
                        <div class="md-list-item-text" layout="column">
                          <h3>{{ item.plaintiff }} / {{ item.defendants }}</h3>
                          <h4>{{ item.initDate }} / {{ item.finishDate }}</h4>
                          <p>{{ item.details }}</p>
                        </div>
                      </md-list-item>
                    </md-list>
                  </md-content>
                </md-card>
              </md-tab-body>
            </md-tab>
            <md-tab id="search">
              <md-tab-label>Search</md-tab-label>
            </md-tab>
            <md-tab id="statistic">
              <md-tab-label>Statistic</md-tab-label>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-69084811-2');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.4.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
