<md-tab id="case">
  <md-tab-label>Case</md-tab-label>
  <md-tab-body>
    <md-card>
      <md-card-content layout-padding>
        <span class="md-title">案件信息</span>
        <form name="caseForm">
          <div layout layout-sm="column">
            <label style="align-self: center;" hide-sm>立案日期</label>
            <md-datepicker ng-model="case.initDate"se.inlaceholder="立案日期"></md-datepicker>
            <label style="align-self: center; padding-left: 20px;" hide-sm>结案日期</label>
            <md-datepicker ng-model="case.finishDate" md-placeholder="结案日期"></md-datepicker>
            <label style="align-self: center; padding-left: 20px;" hide-sm>更新日期</label>
            <md-datepicker ng-model="case.updatedAt" md-placeholder="更新日期" disabled></md-datepicker>
          </div>
          <div layout layout-sm="column">
            <md-input-container flex-sm="100" flex="30">
              <label>原告</label>
              <input ng-model="case.plaintiff" required ng-change="doQuery()">
            </md-input-container>
            <md-input-container flex="20" flex-sm="100">
              <label>原告电话</label>
              <input ng-model="case.tel">
            </md-input-container>
            <md-autocomplete
              flex="50"
              flex-sm="100"
              md-floating-label="被告"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item"
              md-min-length="0"
              md-selected-item="case.defendants">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                "{{ctrl.searchText}}" 尚不存在,请添加.
              </md-not-found>
            </md-autocomplete>
          </div>
          <div layout layout-sm="column">
            <md-input-container>
              <label>状态</label>
              <md-select ng-model="case.state">
                <md-option ng-repeat="state in ctrl.states" value="{{state}}"><span style="{{ctrl.setColor(state)}}">{{state}}</span></md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="80">
              <label>诉讼标的计算</label>
              <input ng-model="case.amountFormula" ng-blur="computeAmount()">
            </md-input-container>
            <md-input-container flex>
              <label>诉讼标的</label>
              <input type="number" ng-model="case.amount">
            </md-input-container>
          </div>
          <div layout layout-sm>
            <md-input-container flex>
              <label>详细记录</label>
              <textarea ng-model="case.details" columns="1" md-maxlength="1500"></textarea>
            </md-input-container>
          </div>
          <div class="md-actions" layout="row">
            <md-button class="md-raised md-primary" ng-click="save()" ng-show="caseForm.$valid" ng-disabled="ctrl.submiting">保存</md-button>
            <md-button class="md-raised" ng-click="cancel()">取消</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <md-progress-linear md-mode="query" ng-show="ctrl.querying"></md-progress-linear>
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <span class="md-title">案件列表</span>
              <p>{{ listDescription }}</p>
            </div>
            <md-fab-speed-dial flex="90" flex-sm="70" flex-md="80" style="align-items: flex-start; z-index: 0;">
              <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                  <md-tooltip md-direction="top" md-visible="tooltipVisible">今日案件数量</md-tooltip>
                  {{ todayCount }}
                </md-button>
              </md-fab-trigger>
            </md-fab-speed-dial>
          </md-list-item>
          <md-list-item>
            <md-input-container flex md-no-float>
              <input ng-model="ctrl.queryString" placeholder="按详细记录模糊搜索" ng-change="doQuery()">
            </md-input-container>
          </md-list-item>
          <md-list-item class="md-3-line" ng-repeat="item in ctrl.allCases" ng-click="ctrl.selectCase(item)">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.plaintiff }} / {{ item.defendants }}</h3>
              <h4>
                <span style="{{ctrl.setColor(item.state)}}">{{ item.state }}</span>
                ( {{ item.initDate | date:'yyyy-MM-dd' }} ~ {{ item.finishDate | date:'yyyy-MM-dd' }} )
              </h4>
              <p>{{ item.details }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </md-tab-body>
</md-tab>
