<div ng-controller="caseCtrl as ctrl" ng-show="logged">
  <md-toolbar layout="row" class="md-toolbar-tools md-whiteframe-z1">
    <h1 flex>{{ title }}</h1>
    <img src="https://travis-ci.org/AlphaHinex/wa.svg?branch=master" />
    <md-button class="md-warn" ng-click="logout()">{{ username }} 登出</md-button>
  </md-toolbar>
  <div layout="row" flex>
    <div layout="column" flex>
      <md-content class="md-padding">
        <md-tabs md-dynamic-height>
          <ng-include src="'views/case.html'"></ng-include>
          <ng-include src="'views/statistic.html'"></ng-include>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
